#table-wrapper
  table#desc
    tr
      th real value #{clm1}
    tr
      td(height='100px') Additional cheduled projects and service #{clm1_row1}
    tr
      td(height='100px') Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday #{clm2_row2}
  table#desc
    tr
      th real value #{clm2}
    tr
      td(height='100px') Tier 1: $110 / hour #{clm2_row1}
    tr
      td(height='100px') Tier 2: $150 / hour #{clm2_row2}
    tr
  table#desc
    tr
      th real value #{clm3}
    tr 
      td(height='100px') abcs #{clm3_row1}
    tr
      td(height='100px') abcd #{clm3_row2}